<h1>LOGIN</h1>
<form action="/identify" method="POST">
  <div>
    <label for="userId">User id</label>
    <input type="text" id="userId" name="userId" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>
<a href="/register">REGISTER</a>