<link href="style.css" rel="stylesheet" type="text/css">
<h1>Register</h1>
  <div>
    <label for="id">ID</label>
    <input type="text" id="id" name="id" required>
  </div>
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <label for="role">Role</label>
    <input type="text" id="role" name="role" required>
  </div>
  <button id="btnRegister" type="submit">Register</button>
  <section>
    <label id="fill"> </label>
  </section>
  <script>
    const inputId = document.querySelector('#id')
    const inputUsername = document.querySelector('#name')
    const inputPassword = document.querySelector('#password')
    const inputRole = document.querySelector('#role')
    const btnRegister = document.querySelector('#btnRegister')

    btnRegister.addEventListener('click', async () => {
      const packet = {
        id: inputId.value,
        username: inputUsername.value,
        password: inputPassword.value,
        role: inputRole.value
      }

      const url = '/REGISTER'
      console.log("hi")
      const options = {
        method: 'POST',
        body: JSON.stringify(packet),
        headers: {
          "Content-Type": "application/json"
        }
      }

      console.log('About to send packet: ', options)

      const response = await fetch(url, options)
    })
  </script>
</form>
<a href="/LOGIN">LOGIN</a>