<h1>Register</h1>
<form action="/register" method="POST">
  <div>
    <label for="id">User id</label>
    <input type="text" id="id" name="id" required />
  </div>
  <div>
    <label for="name">Username</label>
    <input type="text" id="name" name="name" required />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <label for="role">Role</label>
    <select name="role" id="role">
      <option value="teacher">Teacher</option>
      <option value="student2">Student</option>
    </select>
  </div>
  <button type="submit">Register</button>
</form>
<a href="/identify">LOGIN</a>
