<h1>Welcome student!</h1>

<!DOCTYPE html>
<html>
  <head>
    <title>Student Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ejs/3.1.6/ejs.min.js"></script>
  </head>
  <body>
    <h1>Student Home Page</h1>
    <p>Welcome, <%= user.name %>!</p>
  </body>
</html>
